body{
  
color:white;
    font-size:1.2em;
}

#RightMenu{
float:right;
background:#104040;
opacity:0.95;
min-width:30%;
min-height:680px; 
color:white;
padding:35px;
}

.menu{
list-style: none;
margin-bottom:45px;
}

#content{
min-width:70%;
height:680px;
padding:20px;  
padding-top:30px;
/*background:lightblue;*/
}

