body{
color:white;
font-size:1.2em;
font-family: 'din1451alt';
}

@font-face {
  font-family: 'din1451alt';
  src: url('fonts/din1451altttf');
}


h1,h2,h3,h4,h5{
color: #104040;  
}

#RightMenu{
float:right;
background:#104040;
opacity:0.95;
min-width:30%;
min-height:680px; 
color:white;
padding:35px;
}

.menu{
list-style: none;
margin-bottom:45px;
}

.highlight{
color:darkgrey;
}

.currentpage{
color:lightblue;
}

#content{
min-width:70%;
height:680px;
padding:20px;  
padding-top:30px;
}

